/* Style for MasterPreview.tsx */

.modal {
  .modal-dialog {
    &.master-preview {
      min-height: calc(50% - 3.5rem);
      display: flex;
      flex-direction: column;

      .modal-content {
        flex-grow: 1;

        .modal-body {
          min-height: 100%;
        }
      }
    }
  }
}
