.ant-layout {
  &.default-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .ant-layout-header {
      background: #ffffff;
    }

    > .ant-layout {
      &.ant-layout-has-sider {
        flex-grow: 1;
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;

        .ant-layout-sider {
          height: 100%;

          .ant-menu-inline {
            border-right: none;

            .ant-menu-item:first-of-type {
              margin-top: unset;
            }
          }

          .material-icons {
            font-size: 1rem;
            margin-right: 0.5rem;
          }

          a {
            &:hover {
              text-decoration: none;
            }
          }
        }

        .ant-layout-content {
          width: calc(100% - 200px - 1rem);
          float: right;
          padding: 1rem 1rem 1rem 1rem;

          > .ant-card {
            margin-bottom: 1rem;

            &:first-of-type {
              min-height: calc(100vh - 60px - 2rem);
            }

            &:last-of-type {
              margin-bottom: unset;
            }
          }
        }
      }
    }
  }
}
